<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="initial-scale=1, maximum-scale=1, user-scalable=no"
    />
    <title>ArcGIS Developer Guide: Display a map (2D)</title>

    <link rel="stylesheet" href="public/css/mainfile.css" />

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"
    ></script>
    <script src="public/js/main.js" type="module"></script>
  </head>

  <body>

    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img
            src="https://cdn3.iconfinder.com/data/icons/weather-solid-daily-forecast/512/PM2.5-512.png"
            width="32"
            height="32"
          />
        </a>

        <a
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item">
            CSV Upload
          </a>

        </div>

      </div>
    </nav>

    <div id="formInput">
      <p class="title">CSV File Upload</p>
      <dir>
        <form id="formUpload">
          <input type="file" name="file" accept=".csv" />
          <button class="button is-link" type="submit"><a>Upload</a></button>
        </form>
      </dir>

      <div class="mb-6"></div>

      <p class="title">CSV File Download</p>

      <dir>
        <p class="mb-2">List country and city names whose PM 2.5 values are
          greater than 50 in 2015.</p>

        <form action="/queryFileNoa" method="get">
          <button class="button is-link" type="submit"><a>Download</a></button>
        </form>
      </dir>

      <br />
      <dir><p class="mb-2">Calculate the AVG(PM 2.5) by country (show the
          results in a decreasing order).</p>
        <form action="/queryFileNob" method="get">
          <button class="button is-link" type="submit"><a>Download</a></button>
        </form>

      </dir>
      <br />
      <dir><p class="mb-2">Given a "country_input" from the user, show a
          historical PM 2.5 values by year.</p>

        <form action="/queryFileNoc" method="get">
          <input
            class="input mb-4"
            name="country"
            type="text"
            placeholder="Country
        "
          />
          <button class="button is-link" type="submit"><a>Download</a></button>
        </form>

      </dir>
      <br />
      <dir><p class="mb-2">Given a "year_input" and an input of "color_pm25"
          level of health concern from the user, calculate a total of the
          affected population (in number).</p>

        <form action="/queryFileNod" method="get">
          <input
            class="input mb-4"
            name="year"
            type="text"
            placeholder="Year
        "
          />
          <input
            class="input mb-4"
            name="colorpm25"
            type="text"
            placeholder="Color_Pm25
        "
          />

          <button class="button is-link" type="submit"><a>Download</a></button>
        </form>

      </dir>

    </div>

  </body>
</html>

<script>

  const form = document.querySelector("#formUpload");
  form.addEventListener("submit", async (e) => { e.preventDefault(); const
  formData = new FormData(form); const res = await axios .post("/uploadCSV",
  formData, { headers: { "Content-Type": "multipart/form-data", }, })
  alert(res.data.message) });

</script>

<style>
  .navbar{ 

   box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }
</style>