<html>
  <head>
    <script
      src="https://cdn.jsdelivr.net/npm/js-confetti@latest/dist/js-confetti.browser.js"
    ></script>
  </head>
  <body>

    <canvas id="my-canvas"></canvas>
    <div class="bg">
      

      <div class="is-flex">
        <img
          src="https://cdn3.iconfinder.com/data/icons/weather-solid-daily-forecast/512/PM2.5-512.png"
          width="72"
          class="mr-3"
        />
        <p class="is-size-2 m-2 ">PM25 Project</p>
      </div>

      <br />
      <article class="tile is-child notification is-primary">
        <p class="subtitle">Exercise 4 : CSV File</p>
        <button class="button is-link">
          <a href="/filemain">Let's go!</a></button>
      </article>

      <div class="mb-6"></div>

      <article class="tile is-child notification is-info">
        <p class="subtitle">Exercise 5 : Visualizing Air Pollution on Map</p>
        <button class="button is-link">
          <a href="/mapmain1">Let's go!</a></button>
      </article>

    
    

  </body>
</html>

<script type="module">
  const canvas = document.getElementById('my-canvas') 
  const jsConfetti = new JSConfetti({ canvas })
  jsConfetti.addConfetti({
   emojis: ['🌈', '🌎', '☀️', '✨', '🌛', '🌳','😷','🦠'],
})
jsConfetti.addConfetti({
  confettiColors: [
    '#00D1B2', '#3273DC', '#FFDD57', '#FF3860',
  ],
})
</script>

<style>
  html, body { height: 100%; width: 100%; margin: 0;} 
  
  
  .bg{ height: 100%;
  width:100%; padding: 2rem; }
  
  
   button{
  background-color: #6930C3; padding: 0.5rem 1rem; border: none; text-align:
  center; text-decoration: none; display: inline-block; } 
  
  
  a { color: white;
  font-family: "Arial"; }

  #my-canvas {
  position: absolute;
  top: 0;
  height: 100%;
  width:100%;
}

</style>