<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
  <title>ArcGIS Developer Guide: Display a map (2D)</title>

  <link rel="stylesheet" href="public/css/main.css" />

  <link rel="stylesheet" href="https://js.arcgis.com/4.19/esri/themes/light/main.css" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
  <script src="public/js/main3.js" type="module"></script>
</head>

<body>

  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="https://cdn3.iconfinder.com/data/icons/weather-solid-daily-forecast/512/PM2.5-512.png" width="32" height="32" />
      </a>

    
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item">
          Exercise: f
        </a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            More
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item" href="/mapmain1">Exercise: a</a>
            <a class="navbar-item" href="/mapmain2">Exercise: b-e</a>
          </div>
        </div>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">

          <form id="form">
            <div class="select is-link">
              <select id="year" name="year" form="form">
                <option value="N/A">None</option>
                {{#each year}}
                <option value="{{this.Year}}">{{this.Year}}</option>
                {{/each}}
              </select>
            </div>

            <div class="select is-link">
              <select id="wbinc16" name="wbinc16" form="form">
                <option value="N/A">None</option>
                {{#each wbinc16}}
                <option value="{{this.Wbinc16_text}}">{{this.Wbinc16_text}}</option>
                {{/each}}
              </select>
            </div>
            <button class="button is-link" type="submit"><a>Query!</a></button>
          </form>
        </div>
      </div>
  </nav>


  <div id="viewDiv"></div>
</body>

</html>

<style>
  .navbar{ 

   box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }
</style>