<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
  <title>ArcGIS Developer Guide: Display a map (2D)</title>

  <link rel="stylesheet" href="public/css/main.css" />

  <link rel="stylesheet" href="https://js.arcgis.com/4.19/esri/themes/light/main.css" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
  <script src="public/js/main2.js" type="module"></script>
</head>

<body>

  <nav class="navbar" role="navigation" aria-label="main navigation">
   
    <div class="navbar-brand navbar-item">
      
       <a class="navbar-item" href="/">
        <img src="https://cdn3.iconfinder.com/data/icons/weather-solid-daily-forecast/512/PM2.5-512.png" width="32" height="32" />
      </a>

   
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item">
          Exercise: b-e
        </a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            More
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item" href="/mapmain1">Exercise: a</a>
            <a class="navbar-item" href="/mapmain3">Exercise: f</a>
          </div>
        </div>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <form id="form">
            <div class="select is-link">
              <select id="no" name="no" form="form">
                <option value="N/A">None</option>
                <option value="b">Visualize the 50 closest city points to Bangkok.</option>
                <option value="c">Visualize all the city points of Thailands neighboring countries</option>
                <option value="d">Visualize the four points of MBR covering all city points in Thailand.</option>
                <option value="e">Visualize all city points of countries having the highest no. of city points in 2011.
                </option>

              </select>
            </div>
            <button class="button is-link" type="submit"><a>Query!</a></button>
          </form>
        </div>
      </div>
  </nav>

  </div>
  <div id="viewDiv"></div>
</body>

</html>

<style>
  .navbar{ 

   box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }
</style>