@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#formInput {
  height: 100%;
  width: 100%;
  padding: 2rem;
}

/* button {
  background-color: #6930c3;
  padding: 0.5rem 1rem;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}


input {
  padding: 0.5rem 1rem;
  border: none;
} */

a {
  color: white;
  font-family: "Arial";
}
