@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

p,
h1,
h2,
a {
  color: white;
  font-family: "Arial";
}

#navbar {
  height: 60px;
  background-color: #252525;
  display: flex;
  justify-content: space-between;
  gap: 15px;
  padding: 30px 30px;
  align-items: center;
}

#navbarInput {
  display: flex;
  gap: 25px;
}

#form {
  margin-top: 25px;
}

/* button {
  background-color: #6930c3;
  padding: 0.5rem 1rem;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

select {
  padding: 7px 1rem;
  border: none;
} */
